//$font-main: ;
//$font-second: ;

html,
body {
  background: url(/images/background.png);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: blueviolet;
  font-weight: 500;
} 


